@import "../../main";

.nav-item {
  font-family: Helvetica;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 0.33rem;
  a {
    padding: 0rem 0.33rem;
  }
  // width: 100%;
  // height: 100%;
  .fa-icon {
    color: var(--font-color);
  }

  .active-nav-link,
  .active-nav-link > .fa-icon {
    color: #4284fb;
  }
  // a {
  //   min-height: 1rem;
  //   padding: 0.33rem 0.99rem;
  //   color: var(--font-color);
  //   font-weight: 700;
  //   font-size: 0.88rem;
  //   border-bottom: solid 2px transparent;
  //   border-radius: 0.11rem;
  //   &:hover,
  //   &:hover > .fa-icon {
  //     color: #1f6bfa;
  //     transition: all 0.33s ease;
  //   }
  // }
}
