@import "../../main";
.mobile-nav-item {
  font-family: Helvetica;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &:hover {
    background-color: var(--bg-color-alt);
    transition: background-color 0.33s ease;
  }
  .mobile-nav-item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    p {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
  .mobile-nav-item-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-nav-item-right {
    text-align: left;
    padding-left: 0.66rem;
    display: block;
  }
  .fa-icon {
    color: var(--font-color);
    @include iconCircle;
  }
  // .icon-background {
  //   background-color: #ddd;
  //   padding: 0.44rem;
  //   width: 2.33rem;
  //   max-width: 2.33rem;
  //   min-width: 2.33rem;
  //   height: 2.33rem;
  //   max-height: 2.33rem;
  //   min-height: 2.33rem;
  //   border-radius: 100%;
  // }
  .active-nav-link,
  .active-nav-link > .fa-icon {
    color: #4284fb;
  }
  a {
    min-height: 1rem;
    padding: 0.33rem 0.99rem;
    color: var(--font-color);
    font-weight: 700;
    font-size: 0.88rem;
    border-bottom: solid 2px transparent;
    border-radius: 0.11rem;
    &:hover,
    &:hover > .fa-icon {
      color: #1f6bfa;
      transition: all 0.33s ease;
    }
  }
}
