:root {
  font-size: 16px;
  --font-white: #fdfdfd;
}

.light {
  --bg-color: #fdfdfd;
  --bg-color-alt: #ececec;
  --font-color: #404040;
  --font-color-alt: #cccccc;
  --shadow: var(--font-color) 0rem 0.13rem 0.99rem 0rem;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.dark {
  --bg-color: #404040;
  --bg-color-alt: #505050;
  --font-color: #fdfdfd;
  --font-color-alt: #838383;
  --shadow: var(--font-color) 0rem 0.0033rem 0.99rem 0rem;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color-alt);
}

::-webkit-scrollbar-thumb {
  background: var(--font-color-alt);
}

.mobile-nav-item {
  font-family: Helvetica;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
}

.mobile-nav-item:hover {
  background-color: var(--bg-color-alt);
  -webkit-transition: background-color 0.33s ease;
  transition: background-color 0.33s ease;
}

.mobile-nav-item:hover > .mobile-nav-item-content > .mobile-nav-item-left > .fa-icon {
  color: #4284fb;
}

.mobile-nav-item .mobile-nav-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav-item .mobile-nav-item-content p {
  font-size: 0.8rem;
  font-weight: 400;
}

.mobile-nav-item .mobile-nav-item-left {
  --icon-bg-size: calc(4rem * 0.5);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--font-color-alt);
  height: var(--icon-bg-size);
  width: var(--icon-bg-size);
  min-width: var(--icon-bg-size);
  min-height: var(--icon-bg-size);
  max-width: var(--icon-bg-size);
  max-height: var(--icon-bg-size);
  border-radius: 50%;
  padding: 0.45rem;
}

.mobile-nav-item .mobile-nav-item-right {
  text-align: left;
  padding-left: 0.66rem;
  display: block;
}

.mobile-nav-item .fa-icon {
  color: var(--font-color);
}

.mobile-nav-item .mobile-nav-item-content {
  width: 100%;
}

.mobile-nav-item .active-nav-link > .mobile-nav-item-left > .fa-icon {
  color: #4284fb;
}

.mobile-nav-item .active-nav-link {
  background-color: var(--bg-color-alt);
}

.mobile-nav-item a {
  min-height: 1rem;
  padding: 0.33rem 0.99rem;
  color: var(--font-color);
  font-weight: 700;
  font-size: 0.88rem;
  border-bottom: solid 2px transparent;
  border-radius: 0.11rem;
}
/*# sourceMappingURL=mobilenavitem.css.map */