@import "../../main";
.mobile-nav-item {
  font-family: Helvetica;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  &:hover {
    background-color: var(--bg-color-alt);
    transition: background-color 0.33s ease;
  }
  .mobile-nav-item-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    p {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
  .mobile-nav-item-left {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include iconCircle;
  }
  .mobile-nav-item-right {
    text-align: left;
    padding-left: 0.66rem;
    display: block;
  }
  .fa-icon {
    color: var(--font-color);
  }
  .mobile-nav-item-content {
    width: 100%;
  }

  .active-nav-link {
    // color: #4284fb;
    background-color: var(--bg-color-alt);
  }
  a {
    min-height: 1rem;
    padding: 0.33rem 0.99rem;
    color: var(--font-color);
    font-weight: 700;
    font-size: 0.88rem;
    border-bottom: solid 2px transparent;
    border-radius: 0.11rem;
    &:hover,
    &:hover > .fa-icon {
      color: #1f6bfa;
      transition: all 0.33s ease;
    }
  }
}
