@import "../../main";
.blog-post {
  margin: 1rem 0rem;
  border: solid 1px var(--bg-color-alt);
  border-radius: 0.11rem;
  max-width: 86vw;
  @include tablet {
    margin: 1rem;
    max-width: 24vw;
  }
  @include desktop {
    margin: 1rem;
    max-width: 19vw;
  }
  .blog-post-content {
    padding: 1rem;
  }
  h6 {
    padding-inline-start: 0;
  }
  .blog-post-image {
    height: auto;
    max-height: 200px;
    // object-fit: cover;
    width: 100%;
  }
  .blog-post-details {
    color: var(--font-color);
  }
  &:hover {
    border: solid 1px var(--font-color-alt);
    margin-top: calc(1rem - 3px);
    margin-bottom: calc(1rem + 3px);
    transition: all 0.2s ease;
    .blog-post-content > .blog-post-title {
      text-decoration: underline;
    }
    .blog-post-content > .read-more-link {
      color: #4284fb;
    }
  }
}
