@import "../../main";
.blog-post {
  margin: 1rem 0rem;
  border: solid 1px var(--bg-color-alt);
  border-radius: 0.11rem;
  max-width: 86vw;
  @include tablet {
    margin: 1rem;
    max-width: 33vw;
  }
  @include desktop {
    margin: 1rem;
    max-width: 36vw;
  }
  .blog-post-content {
    padding: 1rem;
    .tags-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
  h6 {
    padding-inline-start: 0;
    font-weight: 300;
    letter-spacing: normal;
  }
  .blog-post-body {
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.33rem;
  }
  .blog-post-image {
    height: auto;
    max-height: 200px;
    // object-fit: cover;
    width: 100%;
  }
  .blog-post-details {
    color: var(--font-color);
    font-weight: 500;
  }
  &:hover {
    border: solid 1px var(--font-color-alt);
    margin-top: calc(1rem - 3px);
    margin-bottom: calc(1rem + 3px);
    transition: all 0.2s ease;
    .blog-post-content > .blog-post-title {
      text-decoration: underline;
    }
    .blog-post-content > .read-more-link {
      color: #4284fb;
    }
  }
}
