@import "../../main";

:root {
  --primary-color: #4284fb;
  --bg-color-light: #fdfdfd;
  --bg-color-dark: #404040;
  font-size: 16px;
  transition: all 0.33s ease;
  a,
  button {
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: -0.033rem;
    color: var(--font-color);
  }
  transition: all ease-in-out 0.4s;
}
.light {
  --bg-color: #fdfdfd;
  --font-color: #404040;
}
.dark {
  --bg-color: #404040;
  --font-color: #fdfdfd;
}
body {
  color: var(--font-color);
  background-color: var(--bg-color);
  min-height: 100vh;
}
header {
  z-index: 9999;
  padding: 0vh 7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 86vw;
  // min-width: 100vw;
  // max-width: 100vw;
  position: fixed;
  height: 4rem;
  min-height: 4rem;
  max-height: 4rem;
  top: 0;
  left: 0;
  background: var(--bg-color);
  // background: linear-gradient(160deg, #38393c, #222);
  box-shadow: var(--font-color) 0rem 0.0033rem 0.99rem 0rem;

  // border-bottom: solid 2px var(--primary-color);

  #logo {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 1.22rem;
    font-weight: 800;
    color: var(--font-color);

    @include desktop {
      font-size: 1.55rem;
    }
  }
  nav {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    #nav-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      list-style: none;

      // &:hover {
      //   background-color: #1f6bfa;
      //   color: #fefefe;
      //   transition: all 0.33s ease;
      // }
    }
  }
  #theme-btn {
    cursor: pointer;
    // position: absolute;
    // right: 7vw;
  }
}
