:root {
  font-size: 16px;
  --icon-bg-size: calc(4rem * 0.8);
  --header-height: 4rem;
  --primary-color: #4284fb;
}

:root a,
:root button {
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: -0.033rem;
  color: var(--font-color);
}

.light {
  --bg-color: #fdfdfd;
  --font-color: #404040;
  --font-color-alt: #cccccc;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}

.dark {
  --bg-color: #404040;
  --font-color: #fdfdfd;
  --font-color-alt: #838383;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
  min-height: 100vh;
}

header {
  z-index: 9999;
  padding: 0vh 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 86vw;
  position: fixed;
  height: --header-height;
  min-height: --header-height;
  max-height: --header-height;
  top: 0;
  left: 0;
  background: var(--bg-color);
  -webkit-box-shadow: var(--font-color) 0rem 0.0033rem 0.99rem 0rem;
          box-shadow: var(--font-color) 0rem 0.0033rem 0.99rem 0rem;
}

header form {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1024px) {
  header form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header form #header-search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--font-color-alt);
  min-width: --icon-bg-size;
  min-height: --icon-bg-size;
  max-width: --icon-bg-size;
  max-height: --icon-bg-size;
  border-radius: 50%;
  padding: 0.45rem;
  margin-left: 0.66rem;
  border: none;
}

header form input {
  background: transparent;
  outline: none;
  border: solid 1px #bebebe;
  border-radius: 0.1rem;
}

header form input:focus {
  border: solid 1px #4284fb;
  outline: solid 1px #4284fb;
}

header form input:-internal-autofill-selected {
  background-color: transparent;
}

header form #header-search-input {
  padding: 0.11rem 0.33rem;
  background: transparent;
}

header #logo {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 1.22rem;
  font-weight: 800;
  color: var(--font-color);
  padding-right: 2rem;
}

@media (min-width: 1024px) {
  header #logo {
    font-size: 1.55rem;
  }
}

header nav {
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #nav-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style: none;
  display: none;
}

@media (min-width: 1024px) {
  header nav #nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header #theme-btn-bg {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --icon-bg-size: calc(4rem * 0.8);
  background-color: var(--font-color-alt);
  min-width: --icon-bg-size;
  min-height: --icon-bg-size;
  max-width: --icon-bg-size;
  max-height: --icon-bg-size;
  border-radius: 50%;
  padding: 0.45rem;
}

header #theme-btn-bg #theme-btn {
  cursor: pointer;
}
/*# sourceMappingURL=header.css.map */