.light {
  --bg-color: #fdfdfd;
  --bg-color-alt: #ececec;
  --font-color: #404040;
  --font-color-alt: #cccccc;
  --shadow: var(--font-color) 0rem 0.0033rem 0.99rem 0rem;
  -webkit-transition: color 0.33s ease;
  transition: color 0.33s ease;
  -webkit-transition: background-color 0.33s ease;
  transition: background-color 0.33s ease;
}

.dark {
  --bg-color: #404040;
  --bg-color-alt: #505050;
  --font-color: #fdfdfd;
  --font-color-alt: #838383;
  --shadow: var(--font-color) 0rem 0.0033rem 0.99rem 0rem;
  -webkit-transition: color 0.33s ease;
  transition: color 0.33s ease;
  -webkit-transition: background-color 0.33s ease;
  transition: background-color 0.33s ease;
}

:root {
  font-size: 16px;
  --icon-bg-size: calc(4rem * 0.8);
  --header-height: 4rem;
  --primary-color: #4284fb;
}

:root a,
:root button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: -0.033rem;
  color: var(--font-color);
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
  min-height: 100vh;
}

header {
  z-index: 9999;
  padding: 0vh 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 86vw;
  position: fixed;
  height: var(--header-height);
  min-height: var(--header-height);
  max-height: var(--header-height);
  top: 0;
  left: 0;
  background: var(--bg-color);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

header #logo {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 1.22rem;
  font-weight: 800;
  color: var(--font-color);
  padding-right: 2rem;
}

@media (min-width: 1024px) {
  header #logo {
    font-size: 1.55rem;
  }
}

header nav {
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #nav-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style: none;
  display: none;
}

@media (min-width: 1024px) {
  header nav #nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header #header-btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #header-btn-section #theme-btn,
header #header-btn-section #mobile-menu-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --icon-bg-size: calc(4rem * 0.8);
  background-color: var(--font-color-alt);
  height: --icon-bg-size;
  width: --icon-bg-size;
  min-width: --icon-bg-size;
  min-height: --icon-bg-size;
  max-width: --icon-bg-size;
  max-height: --icon-bg-size;
  border-radius: 50%;
  padding: 0.45rem;
}

header #header-btn-section #mobile-menu-btn {
  margin-left: 0.66rem;
}

@media (min-width: 1024px) {
  header #header-btn-section #mobile-menu-btn {
    display: none;
  }
}

header #mobile-menu-content {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: calc(var(--header-height) - 2px);
  right: 7vw;
  background-color: var(--bg-color);
  border-radius: 0.11em;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

@media (min-width: 1024px) {
  header #mobile-menu-content {
    display: none;
  }
}

header #mobile-menu-content #mobile-nav-list {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0;
}

header #mobile-menu-content #mobile-nav-list .nav-item {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
}

header #mobile-menu-content #mobile-nav-list .nav-item:hover {
  background-color: var(--bg-color-alt);
}

header #mobile-menu-content #mobile-nav-list > a {
  text-align: left;
}
/*# sourceMappingURL=header.css.map */