@import "../../main";

:root {
  font-size: 16px;
  --icon-bg-size: calc(4rem * 0.8);
  --header-height: 4rem;
  --primary-color: #4284fb;

  a,
  button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: -0.033rem;
    color: var(--font-color);
  }
  // transition: all ease-in-out 0.4s;
}
.light {
  --bg-color: #fdfdfd;
  --font-color: #404040;
  --font-color-alt: #cccccc;
  transition: color 0.33s ease;
  transition: background-color 0.33s ease;
}
.dark {
  --bg-color: #404040;
  --font-color: #fdfdfd;
  --font-color-alt: #838383;
  transition: color 0.33s ease;
  transition: background-color 0.33s ease;
}
body {
  color: var(--font-color);
  background-color: var(--bg-color);
  min-height: 100vh;
}
header {
  z-index: 9999;
  padding: 0vh 7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 86vw;
  position: fixed;
  height: var(--header-height);
  min-height: var(--header-height);
  max-height: var(--header-height);
  top: 0;
  left: 0;
  background: var(--bg-color);
  // background: linear-gradient(160deg, #38393c, #222);
  box-shadow: var(--font-color) 0rem 0.0033rem 0.99rem 0rem;
  form {
    display: none;
    @include tablet {
      display: flex;
    }
    @include desktop {
      display: flex;
    }
    #header-search-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--font-color-alt);
      min-width: --icon-bg-size;
      min-height: --icon-bg-size;
      max-width: --icon-bg-size;
      max-height: --icon-bg-size;
      border-radius: 50%;
      padding: 0.45rem;
      margin-left: 0.66rem;
      border: none;
    }
    input {
      background: transparent;
      outline: none;
      border: solid 1px #bebebe;
      border-radius: 0.1rem;
      &:focus {
        border: solid 1px #4284fb;

        outline: solid 1px #4284fb;
      }
    }
    input:-internal-autofill-selected {
      background-color: transparent;
    }
    #header-search-input {
      padding: 0.11rem 0.33rem;
      background: transparent;
    }
  }
  #logo {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 1.22rem;
    font-weight: 800;
    color: var(--font-color);
    padding-right: 2rem;
    @include desktop {
      font-size: 1.55rem;
    }
  }
  nav {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    #nav-list {
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      list-style: none;
      display: none;

      @include desktop {
        display: flex;
      }
    }
  }

  #header-btn-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #theme-btn,
    #mobile-menu-btn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      --icon-bg-size: calc(4rem * 0.8);
      background-color: var(--font-color-alt);
      min-width: --icon-bg-size;
      min-height: --icon-bg-size;
      max-width: --icon-bg-size;
      max-height: --icon-bg-size;
      border-radius: 50%;
      padding: 0.45rem;
    }
    #mobile-menu-btn {
      margin-left: 0.66rem;

      @include desktop {
        display: none;
      }
    }
  }

  #mobile-menu-content {
    margin: 0;
    display: flex;
    width: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(var(--header-height) - 2px);
    right: 7vw;
    background-color: var(--bg-color);
    border-radius: 0.11em;
    @include desktop {
      display: none;
    }
    #mobile-nav-list {
      margin-left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: center;
      height: 100%;
      padding: 0;

      .nav-item {
        justify-content: left;
        &:hover {
          background-color: yellow;
        }
        width: 100%;
      }
    }
    #mobile-nav-list > a {
      text-align: left;
    }
  }
}
