@import "../../main";
form {
  display: none;
  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
  }
  #header-search-btn {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background-color: var(--font-color-alt);
    // min-width: --icon-bg-size;
    // min-height: --icon-bg-size;
    // max-width: --icon-bg-size;
    // max-height: --icon-bg-size;
    // border-radius: 50%;
    // padding: 0.45rem;
    // margin-left: 0.66rem;
    border: none;
    @include iconCircle;
  }
  input {
    background: transparent;
    outline: none;
    border: solid 1px #bebebe;
    border-radius: 0.1rem;
    &:focus {
      border: solid 1px #4284fb;

      outline: solid 1px #4284fb;
    }
  }
  input:-internal-autofill-selected {
    background-color: transparent;
  }
  #header-search-input {
    padding: 0.11rem 0.33rem;
    background: transparent;
  }
}
