@import "../../main";
form {
  display: none;
  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
  }
  #header-search-btn {
    @include iconCircle;

    margin-left: 0.66rem;
    border: none;
  }
  input {
    color: var(--font-color);
    background: transparent;
    outline: none;
    border: solid 1px #bebebe;
    border-radius: 0.1rem;
    &:focus {
      border: solid 1px #4284fb;
      outline: solid 1px #4284fb;
    }
  }
  input:-internal-autofill-selected {
    background-color: transparent;
  }
  #header-search-input {
    padding: 0.11rem 0.33rem;
    background: transparent;
  }
}
