#blog-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .blog-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
