:root {
  font-size: 16px;
  --font-white: #fdfdfd;
}
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin iconCircle {
  --icon-bg-size: calc(4rem * 0.5);

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--font-color-alt);
  height: var(--icon-bg-size);
  width: var(--icon-bg-size);
  min-width: var(--icon-bg-size);
  min-height: var(--icon-bg-size);
  max-width: var(--icon-bg-size);
  max-height: var(--icon-bg-size);
  border-radius: 50%;
  padding: 0.45rem;
  // &:hover,
  // &:focus {
  //   background: linear-gradient(160deg, #4284fb, slateblue);
  // }
  // &:hover > * {
  //   color: var(--font-white);
  // }
  // &:focus > * {
  //   color: var(--font-white);
  // }
}
.light {
  --bg-color: #fdfdfd;
  --bg-color-alt: #ececec;
  --font-color: #404040;
  --font-color-alt: #cccccc;
  --shadow: var(--font-color) 0rem 0.13rem 0.99rem 0rem;

  transition: color 0.2s ease;
  transition: background-color 0.2s ease;
}
.dark {
  --bg-color: #404040;
  --bg-color-alt: #505050;
  --font-color: #fdfdfd;
  --font-color-alt: #838383;
  --shadow: var(--font-color) 0rem 0.0033rem 0.99rem 0rem;

  transition: color 0.2s ease;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color-alt);
}
::-webkit-scrollbar-thumb {
  background: var(--font-color-alt);
}
