$tablet-width: 768px;
$desktop-width: 1024px;
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin iconCircle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  --icon-bg-size: calc(4rem * 0.8);
  background-color: var(--font-color-alt);
  height: --icon-bg-size;
  width: --icon-bg-size;
  min-width: --icon-bg-size;
  min-height: --icon-bg-size;
  max-width: --icon-bg-size;
  max-height: --icon-bg-size;
  border-radius: 50%;
  padding: 0.45rem;
}
