:root {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  margin: 0;
  margin-left: 7vw;
  margin-right: 7vw;
  font-family: Raleway, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: calc(4rem + 0.99rem); /*compensate for fixed header*/
}
